server/model/*
server/model/test_model
server/pythonCode/test__file.py
server/pythonCode/naverAPI.py
server/file/news/
server/file/price/
server/test_result
server/pythonCode/test_file2.py
.idea/
.idea/workspace.xml